<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/viagens/"><i class="fa fa-info-circle"></i>Viagens</a></li>
        <li><a href="/viagens/"><i class="fa fa-info-circle"></i>Concurso FAB</a></li>
        <li><a href="/viagens/"><i class="fa fa-info-circle"></i>Concurso Exército</a></li>
        <li><a href="/viagens/"><i class="fa fa-info-circle"></i>Concurso Marinha</a></li>
        <li><a href="/viagens/"><i class="fa fa-info-circle"></i>Cursos de TI</a></li>
        <li><a href="/about.html"><i class="fa fa-info-circle"></i>Sobre</a></li>
      </ul>
    </div>
  </nav>
</header>